{% extends "blog/madre.html" %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Autor' %}">Autores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Articulo' %}">Articulos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Seccion' %}">Secciones</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h4>Por favor, introduzca su autor:</h4>
</body>
</html>
{% if formulario.errors %}
<p style="color: red;"> Error: alguno de los datos ingresados es incorrecto, revisar</p> 
{% endif %}

<form action="" method="POST">{% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Guardar modelo">
</form>

{% endblock %}